section#home_ad_section {
    padding-top: 50px;
}
.ad_main {
    border: 5px solid #ddd;
}
.ad_content {
    padding: 10px 20px;
    display: inline-block;
}
.ad_content span {
    color: #4bbfba;
}
.ad_content h1 {
    font-size: 40px;
    font-family: 'Segoe UI';
    color: #333;
}
.home_ad_image img {
    width: 100%;
}
section {
    padding: 0 0 50px 0;
}