
    .share_widget, .related_act_widget{
        box-shadow: -1px 1px 10px -2px #ccc;
        border-radius: 5px;
        margin-bottom: 30px;
        padding: 15px;
    }

    .widget_heading.widget_head_red h3 {
        font-size: 24px;
        background: #f54848;
        display: inline-block;
        color: #fff;
        padding: 3px 5px 9px 11px;
        font-family: 'Segoe UI';
        position: relative;
        left: -15px;
    }
    .widget_heading.widget_head_blue h3 {
        font-size: 24px;
        background: #4bbfba;
        display: inline-block;
        color: #fff;
        padding: 3px 5px 9px 11px;
        font-family: 'Segoe UI';
        position: relative;
        left: -15px;
    }
    .widget_heading.widget_head_blue h3:after {
        background: url(../../../assets/img/event-dt/widget_border_blue.png) no-repeat;
        right: -30px;
        width: 50px;
        height: 41px;
        content: '';
        position: absolute;
        top: 0;
        z-index: -2;
    }
    .widget_heading.widget_head_red h3:after {
        background: url(../../../assets/img/event-dt/widget_border.png) no-repeat;
        right: -30px;
        width: 50px;
        height: 41px;
        content: '';
        position: absolute;
        top: 0;
        z-index: -2;
    }



    .rel_events {
        margin: 20px 0px;
    }
    .rel_events {
        margin: 20px 0px 30px;
        background: #fff;
        box-shadow: -1px 1px 10px -2px #ccc;
        border-radius: 15px;
    }	
    .rel_details {
        padding: 15px;
    }
    .rel_details h4 {
        font-family: 'Segoe UI';
        font-size: 20px;
        color: #0f1214;
    }
    .rel_events img {
        border-radius: 15px;
        width: 100%;
        height: 100%;
    }
    .rel_details a {
        color: #4bbfba;
        padding-left: 20px;
        position: relative;
    }
    .rel_details a:before {
        content: '';
        background: url(../../../assets/img/event-dt/loc_ic.png) no-repeat;
        width: 18px;
        height: 22px;
        position: absolute;
        left: 0px;
        top: 2px;
    }