<!-- ======= breadcrumb ======= -->
<section id="breadcrumb">
  <div class="container">
    <div class="breadcrumb_inner">
      <Span><a href="">Home&nbsp;&nbsp;>>&nbsp;&nbsp;</a>All You Can Eat Breakfast @ Circle Café</Span>
    </div>
  </div>
</section>


<main id="main">
  <!-- ======= Filter Section start ======= -->
  <div id="page">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="events_details_main">
            <div class="events_details_inner">
              <div class="events_slider">
                <img src="assets/img/event-dt/event_img.jpg">
              </div>
              <div class="events_content">
                <!-- event first heading section start -->
                <div class="events_primary_detail">
                  <app-breakfast-section></app-breakfast-section>
                    <!-- terms and condition start -->
                  </div>
                  <!-- event first heading section End -->
                  <!-- event Ad banner section start -->
                  <div class="event_secondry_detail">
                    <app-event-discount-section></app-event-discount-section>
                  </div>
                  <!-- event Ad banner section End -->
                  <!-- event Activity  section start -->
                  <div class="event_third_detail">
                    <app-caterpillar-section></app-caterpillar-section>
                  </div>
                  <!-- event Activity  section end -->
                  <!-- event Activity Description section start -->
                  <div class="event_widget_first">
                    <app-activity-description-section></app-activity-description-section>
                  </div>
                  <!-- event Activity Description section End -->
                  <!-- event reviews  section Start -->
                  <div class="event_review_widget">
                    <app-user-review-section></app-user-review-section>
                  </div>
                  <!-- Event Reviews Section End -->
                  <div class="event_schedule_widget">
                    <app-events-review-section></app-events-review-section>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="events_rt_sidebar">
              <div class="events_rt_inner">
                <!-- share widget start -->
                <div class="share_widget">
                  <app-media-sidebar-section></app-media-sidebar-section>
                </div>
                <!-- share widget End -->
                <!-- Related Activity widget start -->
                <div class="related_act_widget">
                  <app-events-sidebar></app-events-sidebar>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- ======= Filter Section End ======= -->
    <!-- ======= Ad Carousel Section start ======= -->
</main>