<div class="all">
    <app-header></app-header>
    <app-hero-section></app-hero-section>
    <app-advertisement-section></app-advertisement-section>
    <app-event-category></app-event-category>
    <app-first-event-cat></app-first-event-cat>
    <app-blog-section></app-blog-section>
    <app-browse-category></app-browse-category>
    <app-home-ad-section></app-home-ad-section>
    <app-family-section></app-family-section>
    <app-download-app></app-download-app>
    <app-footer></app-footer>
</div>

